{% load static %}
<!DOCTYPE html>
<html>
	<head>
    <title>{% block title %}Monitor de Processo - Consulte o andamento dos processos{% endblock title %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </head>

  <body>
    <div class="jumbotron">
      <h1 class="display-4">Consulta de Processos</h1>
      <p class="lead">Veja abaixo a lista de processos!</p>
      <hr class="my-4">
      {% block content %}
      {% endblock content %}
    </div>
  </body>

</html>
